<section>
  <h2>Create Group</h2>

  <form class="new-group-form">
    <div>
      <label for="group-name">Please Enter Group Name:</label>
      <input type="text" id="group-name" name="group-name" />
    </div>
    <div>
      <label for="group-code">Please Enter Group Code:</label>
      <input id="group-code" name="group-code" />
    </div>
    <button type="submit" class="btn">Create Group</button>
  </form>
</section>

<script src="/javascript/add-group.js"></script>
