<div class="col-md-4">
  <section>
    <h2>Create Group</h2>

    <form class="new-group-form">
      <div>
        <div class="form-group">
        <input type="text" id="group-name" name="group-name" class="form-control input-sm" placeholder="Enter Group Name"/>
      </div>
      <div>
        <div class="form-group">
        <input id="group-uuid" name="group-uuid" class="form-control input-sm" placeholder="Enter Group Code"/>
      </div>
      
      
      <button type="submit" class="btn btn-info btn-block">Create Group</button>
    </form>
  </section>
</div>

<script src="/javascript/add-group.js"></script>
