<section>
  <h2>Join Group</h2>

  <form class="join-group-form">
    <div>
      <label for="group-name">Please Enter Group Name:</label>
      <input type="text" id="group-name" name="group-name" />
    </div>
    <div>
      <label for="group-uuid">Please Enter Group Code:</label>
      <input id="group-uuid" name="group-uuid" />
    </div>
    <button type="submit" class="btn">Join Group</button>
  </form>
</section>

<script src="/javascript/join-group.js"></script>
