<div class="col-md-4">
  <section>
    <h2>Join Group</h2>

    <form class="join-group-form">
      <div>
        <div class="form-group">
        <input type="text" id="join-group-name" name="join-group-name" class="form-control input-sm" placeholder="Enter Group Name"/>
      </div>
      <div>
        <div class="form-group">
        <input id="join-group-uuid" name="join-group-uuid" class="form-control input-sm" placeholder="Enter Group Code"/>
      </div>
      <button type="submit" class="btn btn-info btn-block">Join Group</button>
    </form>
  </section>

</div>

<script src="/javascript/join-group.js"></script>
