<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hearth</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="navbar navbar-dark bg-dark"></header>
      <a class="text-white navbar-brand" href="/"> Hearth</a>
      <nav>
        {{#if loggedIn}}
        <ul class="nav justify-content-end">
          <li class="nav-item">
              <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
                <a class="nav-link text-white" href="/post">Post</a>
          </li>
          <li class="nav-item">
                <button type="button" id="logout" class="btn btn-outline-warning nav-link">Logout</button>
          </li>
        </ul>
        {{else}}
          <li class="nav item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>
        {{/if}}
      </nav>    
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      A place to share memories!
    </footer>
  </div>

  {{#if loggedIn}}
  <!--Include link to logout.js file -->
  {{/if}}  
</body>

</html>
