<!--Add new group form
Add join group form
List of groups associated with - click on group then you have user id and group id
put it all in rows
>

<!--ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{/each}}
</ol>
