<!--
When the USER logs on, THEN they are taken to the homepage where they will be presented with:

add-group partial
join-group partial
OR
List of groups associated with - click on group then you have user id and group id
Put all groups in rows

-->

<h1>This is the home page for {{ username }}</h1>
<hidden name="user-id" id="user_id" value="{{ user_id }}"></hidden>
{{> add-group }} {{> join-group }}
{{#each groups as |group| }}
<button name="{{ group.tblgroup_id }}">{{ group.name }}</input>
{{/each}}

<script src="/javascript/homepage.js"></script>