
<h1>This is {{username}}'s post page for creating albums</h1>

{{> add-post }}<br>
<ol>
{{#each posts}}
  <li class="text-white">
   <a href="/pictures/{{id}}" class="edit-link">{{ title }}</a><br>
  </li> 
{{/each}}
</ol>
