
body {
    background-image: url("../images/fireplace.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #cccccc;
    color: aliceblue;
}

header {
    font-size: 20px;
}

nav {
    list-style: none;
    padding: .5rem 5rem;
}

.nav-item {
    display: inline-block;
}

div {
    font-size: 25px;
    color: white;
    justify-content: center;

}

h1, h2, h3 {
    text-align: center;
}

.container {
    padding: 100px;
}

.card-text {
    font-size: 20px;
}

.albumPics {
    display:flex;
    flex-wrap: wrap;
}
footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 25px;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    display: inline;
}

nav li {
    display: inline;
}

.card-img-top {
    height: 30rem;
}

.card-body {
    color:black;
    height: 8rem;
}

p {
    font-size: 20px;
}

.picform{
    text-align: center;
}
